.git
.github
.editorconfig
.phpunit.result.cache
node_modules
vendor
public/build
storage/*.key
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests
docker/mariadb_data
.env
.env.backup
.env.production
